 h2 {
  font-family: 'El Messiri', sans-serif;
  color:white;
  font-size: 80px;
  margin-top: 7%;
  text-align: center;
}

.a {
  text-decoration: none;
  color: white;
}

#topbar {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:50px;
  display: flex;
  flex-direction: row;
}

.bar {
  color: white;
  text-align: center;
  display: inline;
  width: 25%;
  font-size: 20px;
  margin:auto;
  font-family: 'El Messiri', sans-serif;
}

.bar:hover {
  background-color: grey;
  padding:  11px;
}

#demo{
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 30px;
  margin-top: -2%;
  font-weight: bold;
}

body {
  background-image:url("knife.jpg");
  background-size: cover;
  font-family: 'El Messiri', sans-serif;
 /* background-image: url("bluee.jpg");*/
  background-color: #e6f7ff;

}

h1{
 /* background-color: black; */
 font-family: 'El Messiri', sans-serif;
 font-size: 50;
 color:white;
 text-align: left;
}

/* .boxed {
  border:60px;
  width: 400px;
  background-color: white;
  margin-left: 34%;
} */

p{
  font-size: 23px;
  text-align: center;
  color: white;
}
div{
 font-family: 'El Messiri', sans-serif;
 font-size: 25px;
 color: white;
 /* border: 3px double #000; */

}

.food{
 margin-bottom: 50px;
}

img{
 background-color: white;
 width: 400px;
 /* border-color: white; */
 /* border-width: medium; */
}

.color {
  color:white;
}
.textbox{
 /* border: 3px; */
 /* border-style: double;
 border-color: black; */
 /*color: black; */
 /* background-color: white; */
 /* margin-left: 450px;
 margin-right: 50px */
font-family: 'El Messiri', sans-serif;
 color: white;
 font-size: 20;
 margin-top: -2.5%;
 margin-left: 500px;
}

#right {
  width: 50%;
  position: relative;
  margin-left: 500px;
  /* margin-right:10px; */
}

/* h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
} */

#image {
  float: center;
  margin-left: 20px;
  style: 'float:left;'
  margin-bottom: auto;
}

.image-div{
  float:left;
  margin-right:10px;
  max-width: 20%;
  max-height: 20%;
}

#date{
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.together{
  height: auto;
}

.logo {
  width: 90px;
  float: right;
  margin-top: 55px;
  margin-right: -1539%;
}
